<div class="p-5">
  <!-- timeline.component.html -->
  <div>
    <div class="font-semibold text-lg text-gray-900">
      Timeline of Entries from (some table).
    </div>
  </div>
  <div #timelineContainer class="timeline-container">
  
    <div class="timeline" [style.width.px]="timelineWidth">
      <div *ngFor="let entry of timelineData"
           class="timeline-entry backdrop-blur-sm"
           [style.left]="entry.position"
           [style.width]="entry.width"
           [style.backgroundColor]="getEntryColor(entry)"
           (mouseenter)="setHoveredEntry(entry)"
           (mouseleave)="setHoveredEntry(null)">
      </div>
  
      <div *ngFor="let tick of tickMarks" class="tick-mark" [style.left]="tick.position">
        <div class="tick-line"></div>
        <div class="tick-label">{{ tick.label }}</div>
      </div>
    </div>
  </div>
  <div class="pt-5"></div>
  <div class="timeline-container">
    <div *ngIf="hoveredEntry" class="entry-tooltip" [style.left]="getTooltipPosition(hoveredEntry).left" [style.top]="getTooltipPosition(hoveredEntry).top">
      <p>Expected Loss: {{ hoveredEntry.expectedLoss }}</p>
      <p>Start Date: {{ hoveredEntry.dateRange.start | date }}</p>
      <p>End Date: {{ hoveredEntry.dateRange.end | date }}</p>
    </div>
  
    <!-- create   -->
  
    <div class="timeline-conflicts">
      <div *ngFor="let conflict of conflictingEntries"
           class="conflict-entry"
           [style.left]="conflict.position"
           [style.width]="conflict.width"
           [style.backgroundColor]="getEntryColor(conflict)">
      </div>
    </div>
  
    <div *ngIf="currentEntry" class="current-entry-timeline">
      <div class="current-entry"
           [style.left]="currentEntry.position"
           [style.width]="currentEntry.width">
      </div>
    </div>
  </div>
  
  <app-entry-form (newEntry)="setCurrentEntry($event)"></app-entry-form>
  <app-conflict-resolution
    [conflictingEntries]="conflictingEntries"
    (resolveConflict)="resolveConflict($event.entry, $event.action)">
  </app-conflict-resolution>
</div>