<!-- entry-form.component.html -->
<div class="p-4 mt-4">
  <h3>New (table) entry: </h3>

  <form (ngSubmit)="submitEntry()" class="flex flex-row pt-4 space-x-6">
    <div class="relative">
      <label htmlFor="expectedLoss"
        class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
        expectedLoss
      </label>
      <input id="expectedLoss" name="expectedLoss" type="number" [(ngModel)]="entry.expectedLoss" placeholder="5.0"
        required
        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" />
    </div>
    <div class="relative">
      <label htmlFor="effectiveDate"
        class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
        effectiveDate
      </label>
      <input id="effectiveDate" name="effectiveDate" type="date" [(ngModel)]="entry.dateRange.start" required
        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" />
    </div>
    <div class="relative">
      <label htmlFor="ineffectiveDate"
        class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">
        ineffectiveDate
      </label>
      <input id="ineffectiveDate" name="ineffectiveDate" type="date" [(ngModel)]="entry.dateRange.end" required
        class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6" />
    </div>

    <button type="submit" class="pl-3 pr-3 pt-2 pb-2 bg-gray-700 text-sm text-gray-50 italic inline-flex hover:bg-gray-600 shadow-sm rounded-md mr-4 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-teal-600">Add Entry</button>
  </form>
</div>